<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="login-content">
        <form class="margin-bottom-0" action="/login" method="POST" id="1">
            <p>用户名： <input type="text" name="username"></p>
            <p>密码： <input type="text" name="password"></p>
            <p><input type="submit" value="登陆"></p>
            <img src="/static/upload/students/2019-03-24-14-34-29-029818.jpg"></img>
        </form>
    </div>

</body>
</html>