<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>请完善您的个人信息</h2>
    {% if user_type == 'Student' %}
        <form action="/user_info/" method="post" enctype="multipart/form-data">
            <p>姓名：{{name}}</p>
            <input type="hidden" name="name" value={{name}}>
            <input type="hidden" name="user_type" value={{user_type}}>

            <p>年龄：<input type="text" name="age"></p>
            <p>性别：
                <input type="radio" name="sex" value="man">男
                <input type="radio" name="sex" value="woman">女
            </p>
            <p>头像：<input type="file" name="portrait"></p>
            <p>脑电数据：<input type="text" name="wave"></p>
            <p><input type="submit" value="提交"></p>
        </form>

    {% elif user_type == 'Teacher' %}
        <form action="/user_info/" method="post" enctype="multipart/form-data">
            <p>姓名：{{name}}</p>
            <input type="hidden" name="name" value={{name}}>
            <input type="hidden" name="user_type" value={{user_type}}>
            <p>简介：<input type="text" name="intro"></p>
            <p>学校：
                <input type="radio" name="school" value="清华">清华
                <input type="radio" name="school" value="北大">北大
                <input type="radio" name="school" value="交大">交大
            </p>
            <p>头像：<input type="file" name="portrait"></p>
            <p><input type="submit" value="提交"></p>
        </form>

    {% elif user_type == 'School' %}
        <form action="/user_info/" method="post" enctype="multipart/form-data">
            <p>名称：{{name}}</p>
            <input type="hidden" name="name" value={{name}}>
            <input type="hidden" name="user_type" value={{user_type}}>
            <p>简介：<input type="text" name="intro"></p>
            <p>图片：<input type="file" name="photo"></p>
            <p><input type="submit" value="提交"></p>
        </form>
    {% endif %}

</body>
</html>